$imgs:                            '../img';
$fonts:                           '../fonts';

$font_family:                     'Open Sans Condensed';

$white:                           #ffffff;
$black:                           #000000;
$yellow:                          #fbe957;
$yellow-dark:                     #fbd257;
$grey:                            #cccccc;
