<footer class="footer">
  <h2>{{ options.global_footer_heading }}</h2>

  {% if options.global_footer_list|length %}
    <ul>
      {% for item in options.global_footer_list %}
        <li>
          <img src="{{ TimberImage(item.img).src }}"><br>
          {{ item.text }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</footer>

{% include 'modal.twig' %}
