<footer class="footer">
  <h2>Наши услуги:</h2>

  <ul>
    <li>
      <img src="/img/u1.png"><br>
      Ресторан<br>
      Конференц-зал<br>
      Банкетный зал<br>
    </li>
    <li>
      <img src="/img/u2.png"><br><br>
      Wi-Fi<br><br>
    </li>
    <li>
      <img src="/img/u3.png"><br>
      Бесплатная круглосуточная парковка
    </li>
    <li>
      <img src="/img/u4.png"><br>
      Видео наблюдение для обеспечения безопасности гостей
    </li>
  </ul>
</footer>
