<header class="header">
  <div class="logo">
  </div>
  <div id="menu">
    <ul>
      <a href="/">
        <li>Главная</li>
      </a><a href="/index.php/rooms/first">
        <li>Номера</li>
      </a><a href="/index.php/services">
        <li>Услуги</li>
      </a><a href="/index.php/map">
        <li>Карта</li>
      </a>
    </ul>
  </div>
</header>
