<header class="header">
  <div class="logo">
  </div>
  <div id="menu">
    <ul>
      {% for item in menu.items %}
        <a href="{{ item.link }}"{% if item.current %} class="current"{% endif %}>
          <li>{{ item.title }}</li>
        </a>
      {% endfor %}
    </ul>
  </div>
</header>
