{% extends "base.twig" %}

{% block content %}
  <div class="container">
    <main class="content">
      <div id="main_block">
        {{ post.content }}
      </div>
    </main><!-- .content -->
  </div><!-- .container-->

  <aside class="right-sidebar">
    {% include 'sidebar.twig' %}
  </aside><!-- .right-sidebar -->

{% endblock %}
