{{ options.global_sidebar_address }}
<br><br>
<h2>Телефон для бронирования:</h2>
<span>{{ options.global_sidebar_phone }}</span><br>
<span>{{ options.global_sidebar_phone_2 }}</span>
<br><br>
<a href="#modal-book" class="button button_size_full-width button_modal-open">Забронировать</a>
