.button {
    display: inline-block;
    background-color: $yellow;
    padding: 15px 25px;
    font-size: 28px;
    border-radius: 8px;
    text-align: center;
    color: $black;
    text-decoration: none;
    transition: all .3s;
    box-sizing: border-box;
    border: none;
    cursor: pointer;

    &_size {
        &_full-width {
            width: 100%;
        }

        &_auto {
            width: auto;
        }
    }

    &_loading {
        opacity: .5;
        cursor: not-allowed;
        background-color: $yellow-dark !important;
    }

    &:hover {
        background-color: $yellow-dark;
    }
}
