.header {
    height: 150px;
}

.logo {
    float: left;
}

#menu {
    list-style: none;
    width: 500px;
    font-size: 26px;
    margin-top: 18px;

    a {
        text-decoration: none;
        color: #000000;
        display: inline-block;
        padding: 20px;
        background-color: rgba($white, .6);

        &:hover {
            background-color: $white;
        }
    }
}
