.middle {
    width: 100%;
    position: relative;

    &:after {
        display: table;
        clear: both;
        content: '';
    }
}

.container {
    width: 100%;
    float: left;
    overflow: hidden;
}

.content {
    padding: 0 270px 0 0;
}

#main_block {
    width: 630px;
    padding: 20px 10px 20px 10px;
    background-color: rgba($white, .6);
    font-size: 18px;
    line-height: 24px;

    h1 {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 10px;
    }

    h2 {
        font-weight: bold;
        font-size: 22px;
        text-align: center;
        padding: 20px 0 30px 0;
    }

    ul {
        margin: 0 50px;

        li {
            list-style: circle;
        }
    }

    table {
        width: 100% !important;
        margin-top: 15px;
        border-left: 1px solid $black;
        border-top: 1px solid $black;

        tr {
            &:first-of-type > td {
                font-weight: bold;
            }
        }

        td {
            border-right: 1px solid $black;
            border-bottom: 1px solid $black;
            padding: 5px 10px;
            font-size: 16px;
            line-height: 1.2;
            vertical-align: middle;

            &:first-of-type {
                white-space: nowrap;
                font-weight: bold;
            }
        }
    }
}

.room-wrap {
    overflow: hidden;
}
