.modal {
    max-width: 100% !important;
    height: 100% !important;
    margin: 0;
    background-color: transparent;
    overflow-y: auto;

    &:after {
        display: none !important;
    }

    .iziModal-wrap {
        width: 350px;
        height: auto !important;
        margin: 20px auto;
        padding: 30px 15px;
        border-radius: 5px;
        background-color: $white;
        text-align: center;
        overflow-x: visible !important;
        overflow-y: visible !important;
    }

    &__close {
        position: absolute;
        top: -10px;
        right: -10px;
        border-radius: 100%;
        box-shadow: 0 0 10px 0 rgba($black, .2);
        font-size: 18px;
        text-align: center;
        width: 22px;
        height: 22px;
        line-height: 22px;
        cursor: pointer;
        transition: all .3s;
        background: $white;

        &:hover {
            background-color: #eeeeee;
        }
    }

    &__heading {
        font-size: 35px;
        line-height: 1;
        font-weight: bold;
    }

    &__form {
        margin-top: 20px;

        &-row {
            &:not(:first-of-type) {
                margin-top: 15px;
            }
        }
    }
}
